/*
        :::   :::       ::::::::       :::        ::::::::::       ::::::::      :::    :::       :::        ::::::::::
      :+:+: :+:+:     :+:    :+:      :+:        :+:             :+:    :+:     :+:    :+:       :+:        :+:
    +:+ +:+:+ +:+    +:+    +:+      +:+        +:+             +:+            +:+    +:+       +:+        +:+
   +#+  +:+  +#+    +#+    +:+      +#+        +#++:++#        +#+            +#+    +:+       +#+        +#++:++#
  +#+       +#+    +#+    +#+      +#+        +#+             +#+            +#+    +#+       +#+        +#+
 #+#       #+#    #+#    #+#      #+#        #+#             #+#    #+#     #+#    #+#       #+#        #+#
###       ###     ########       ########## ##########       ########       ########        ########## ##########

Version: 1.6
Check for releases: https://github.com/manassadasivuni/obsidian-molecule

Made by Manas Sadasivuni (https://links.manassadasivuni.com)

*/

.theme-light{
  --background-primary: #ffffff;
  --background-primary-alt: #ffffff;
  --background-secondary: #ffffff;
  --background-secondary-alt: #eeeeee;
  --background-accent: #5aa17b;
  --background-modifier-border: #dddddd;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #A4E7C3;
  --background-modifier-error: #990000;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #bb0000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #5aa17b;
  --text-accent-hover: #45795d;
  --text-normal: #000000;
  --text-muted: #444444;
  --text-highlight-bg: #a4e7c3;
  --text-selection: #B8D9F4;
  --interactive-normal: #5aa17b;
  --interactive-hover: #45795d;
  --interactive-accent: #5aa17b;
  --interactive-accent-rgb: 164, 231, 195;
  --interactive-accent-hover: #45795d;

  --inline-code: var(--text-muted);
  --code-background: ;
  
}

/* ========== */
/* Graph colours*/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight{
    color: #666666 !important;    
}

.graph-view.color-fill-attachment{
  color: var(--text-highlight-bg) !important;
}

.graph-view.color-fill-tag{
  color: var(--interactive-accent) !important;
}

.graph-view.color-text{
    color: var(--text-normal) !important;
}

.graph-view.color-line{
    color: rgba(0, 0, 0, 0.25);
}

.graph-view.color-fill{
    color: #111111;
}

/* ========== */
/* Element-wide styles */

button {
  background-color: var(--background-primary-alt);
}

button:hover {
  background-color: var(--background-secondary-alt);
}

blockquote {
  margin-inline-start: 0;
}

blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

blockquote p { 
  display: inline; 
}

img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
} 

a,
.cm-hmd-internal-link
{
color: var(--interactive-accent) !important;
text-decoration: none !important;
}

a:hover,
.cm-hmd-internal-link:hover,
.cm-url
{
color: var(--interactive-accent-hover) !important;
text-decoration: none !important;
}

/* ========== */

body{
  -webkit-font-smoothing: auto;
}

.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
  background: transparent;
}

body:not(.is-grabbing) .nav-file:not(.is-active) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder:not(.is-active) .nav-folder-title:hover {
  --text-normal: var(--text-muted);
  --background-secondary-alt: var(--background-secondary);
}

.workspace-tab-header-container{
  color: var(--background-primary-alt)
}

.workspace-tab-header.is-active{
  color: var(--interactive-accent);
}

.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content { 
  max-height: unset;
  background-color: var(--background-primary);
}

.markdown-embed-link {
  color: var(--text-faint) !important;
  }

.markdown-embed-link:hover {
color: var(--interactive-accent-hover) !important;
}

.workspace-leaf-resize-handle:hover{
  background-color: var(--interactive-accent);
}

.search-result-file-title{
  color: var(--text-accent)
}

.search-result-file-title:hover{
  color: var(--text-accent-hover)
}

.nav-file-title, .nav-folder-title{
  color:var(--text-muted);
}

.suggestion-item.is-selected .suggestion-note, .suggestion-item.is-selected{
  color: var(--background-primary);
  background: var(--interactive-accent);
}

.suggestion-item.is-selected .suggestion-hotkey{
  color: var(--text-normal)
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px !important;
  line-height: 26px;
}

.nav-file.is-active > .nav-file-title{
  background-color: var(--interactive-accent);
  color: var(--background-primary)
}

.nav-file.is-active > .nav-file-title:hover {
  background-color: var(--interactive-accent-hover);
  color: var(--background-primary);
}

/* ========== */
/* Preview */

.markdown-preview-view code{
  color: var(--inline-code);
}

/* Fancy horizontal lines (---) by TriDiamond (https://github.com/TriDiamond/) */

.markdown-preview-view hr {
  border: none;
  height: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, transparent, var(--text-accent), transparent);
}

.markdown-preview-view hr::after {
  content: '«~»';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 0.5rem;
  color: var(--text-muted);
  background-color: var(--background-primary);
}

/* ========== */
/* Edit */
.cm-s-obsidian pre.HyperMD-codeblock,
.cm-s-obsidian span.cm-math,
.markdown-preview-view code {
  font-weight: 600;
  background-color: #eeeeee;
}

.cm-s-obsidian span.cm-inline-code {
  font-weight: 600;
  font-style: normal;
  color: var(--inline-code);
}

.cm-s-obsidian span.cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder {
  font-weight: 600;
  font-style: normal;
}

/* Bigger link popup preview */
.popover.hover-popover {
  max-height: 800px;    /* was 300 */
  min-height: 100px;
  width: 500px;     /* was 400 */
}


/* ==== CSS Tweaks - delete whichever parts you don't want ==== */

/* Better checkboxes */
.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  filter: none;
  outline: none;
  margin-right: 4px;
  margin-bottom: 1px;
  cursor: pointer;
  vertical-align: center;
}

.markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--interactive-accent);
}

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 14\'%3E%3Cpolygon points=\'5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039\'%3E%3C/polygon%3E%3C/svg%3E');
}

/* Fixing numbered lists */
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

/* trace indentation lines by death_au */
.cm-hmd-list-indent .cm-tab,
ul ul {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before {
  content: '';
  border-left: 2px solid var(--background-modifier-border);
  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before {
  left: 0;
  top: -5px;
  bottom: -4px;
}

ul ul::before {
  left: -15px;
  top: 0;
  bottom: 0;
}

/* Click & hold images to increase size */
.markdown-preview-view .internal-embed img {
	cursor:zoom-in;}

.markdown-preview-view .internal-embed img:active {
	cursor:zoom-out;
	display:block;
	z-index:100;
	position:fixed;
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    object-fit: contain;
    margin:0 auto;
    text-align:center;
    top: 50%;
  	transform: translateY(-50%);
    padding:0;
    left:0;
    right:0;
    bottom:0;
    background:var(--background-primary);}

/* Removing strikethrough from completed to-do lists */
.markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration: none;
  color: inherit;
}

/* obsidian-calendar-plugin */
/* https://github.com/liamcain/obsidian-calendar-plugin */

#calendar-container {
  --color-background-heading: transparent;

  --color-background-day: transparent;
  --color-background-day-empty: var(--background-secondary-alt);
  --color-background-day-active: var(--interactive-accent);
  --color-background-day-hover: var(--interactive-hover);

  --color-dot: var(--text-muted);
  --color-arrow: currentColor;

  --color-text-title: var(--text-normal);
  --color-text-heading: var(--text-normal);
  --color-text-day: var(--text-normal);
  --color-text-today: var(--text-normal);
}
