/*
        :::   :::       ::::::::       :::        ::::::::::       ::::::::      :::    :::       :::        ::::::::::
      :+:+: :+:+:     :+:    :+:      :+:        :+:             :+:    :+:     :+:    :+:       :+:        :+:
    +:+ +:+:+ +:+    +:+    +:+      +:+        +:+             +:+            +:+    +:+       +:+        +:+
   +#+  +:+  +#+    +#+    +:+      +#+        +#++:++#        +#+            +#+    +:+       +#+        +#++:++#
  +#+       +#+    +#+    +#+      +#+        +#+             +#+            +#+    +#+       +#+        +#+
 #+#       #+#    #+#    #+#      #+#        #+#             #+#    #+#     #+#    #+#       #+#        #+#
###       ###     ########       ########## ##########       ########       ########        ########## ##########

Version: 1.0
Last release date: 8th November 2020 
Check for releases: 

Made by Manas Sadasivuni (https://links.manassadasivuni.com)

Inspired by the Atom theme by Kognise (https://github.com/kognise)

THEME IS LIGHT-MODE ONLY

*/

.theme-light{
  --background-primary: #ffffff;
  --background-primary-alt: #ffffff;
  --background-secondary: #ffffff;
  --background-secondary-alt: #eeeeee;
  --background-accent: #5aa17b;
  --background-modifier-border: #dddddd;
  --text-accent: #5aa17b;
  --text-accent-hover: #45795d;
  --text-normal: #000000;
  --text-muted: #555555;
  --text-highlight-bg: #a4e7c3;
  --text-selection: #B8D9F4;
  --interactive-accent: #5aa17b;
  --interactive-accent-hover: #45795d;

  --inline-code: var(--text-muted);
  
}

/* ========== */
/* Graph colours*/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
    color: #666666 !important;    
}

.graph-view.color-text
{
    color: var(--text-normal) !important;
}

.graph-view.color-line {
    color: rgba(0, 0, 0, 0.25);
}

.graph-view.color-fill{
    color: #111111;
}

/* ========== */
/* Element-wide styles */

button{
  background-color: var(--background-primary-alt);
}

button:hover{
  background-color: var(--background-secondary-alt);
}

blockquote {
  margin-inline-start: 0;
}

/* ========== */

.workspace-ribbon .side-dock-ribbon .mod-right .is-collapsed{
  color: var(--background-primary-alt);
}

.workspace-ribbon .side-dock-ribbon .mod-right{
  color: var(--background-primary-alt); 
}

.workspace-ribbon .side-dock-ribbon .mod-left .is-collapsed{
  color: var(--background-primary-alt);
}

.workspace-ribbon .side-dock-ribbon .mod-left{
  color: var(--background-primary-alt); 
}

.workspace-tab-header-container{
  color: var(--background-primary-alt)
}

.workspace-tab-header.is-active{
  color: var(--interactive-accent);
}

.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content { 
  max-height: unset;
  background-color: var(--background-primary);
}

.markdown-embed-link {
  color: var(--text-faint) !important;
  }

.markdown-embed-link:hover {
color: var(--interactive-accent-hover) !important;
}

.workspace-leaf-resize-handle:hover{
  background-color: var(--interactive-accent);
}

.search-result-file-title{
  color: var(--text-accent)
}

.search-result-file-title:hover{
  color: var(--text-accent-hover)
}

.nav-file-title, .nav-folder-title{
  color:var(--text-muted);
}

.suggestion-item.is-selected .suggestion-note, .suggestion-item.is-selected{
  color: var(--background-primary);
  background: var(--interactive-accent);
}

/* ========== */
/* Preview */

.markdown-preview-view code{
  color: var(--inline-code);
}

/* Fancy horizontal lines (---) by TriDiamond (https://github.com/TriDiamond/) */

.markdown-preview-view hr {
  border: none;
  height: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, transparent, var(--text-accent), transparent);
}

.markdown-preview-view hr::after {
  content: '«~»';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 0.5rem;
  color: var(--text-muted);
  background-color: var(--background-primary);
}

/* ========== */
/* Edit */
.cm-s-obsidian span.cm-inline-code, .cm-s-obsidian pre.HyperMD-codeblock{
  color: var(--inline-code);
}

.cm-s-obsidian span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end){
  color: var(--inline-code);
}

/*============bigger link popup preview  ================*/
.popover.hover-popover {
  max-height: 800px;    /* was 300 */
  min-height: 100px;
  width: 500px;     /* was 400 */
}


/* ==== CSS Tweaks - delete whichever parts you don't want ==== */

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  filter: none;
  outline: none;
  margin-right: 4px;
  margin-bottom: 1px;
  cursor: pointer;
  vertical-align: center;
}

.markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--interactive-accent);
}

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 14\'%3E%3Cpolygon points=\'5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039\'%3E%3C/polygon%3E%3C/svg%3E');
}

/*Removes the title bar */
.is-frameless {
  padding-top:0px !important;
}

/*Fixing numbered lists*/
ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

/* trace indentation lines by death_au */
.cm-hmd-list-indent .cm-tab,
ul ul {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before {
  content: '';
  border-left: 2px solid var(--background-modifier-border);
  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before {
  left: 0;
  top: -5px;
  bottom: -4px;
}

ul ul::before {
  left: -15px;
  top: 0;
  bottom: 0;
}

/* Removing strikethrough from completed to-do lists */
.markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration: none;
  color: inherit;
}

/* Andy Matuschak mode */
.mod-root.workspace-split.mod-vertical { 
  overflow-x:auto; 
  --header-width: 36px; /* <- 36px is the header height in the default theme */
}
.mod-root.workspace-split.mod-vertical > div { 
  min-width: calc(700px + var(--header-width)); /* <-- 700px is the default theme's "readable" max-width */
  box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.25);
  position:sticky;
  left:0;
}

/* shift sticky position, so titles will stack up to the left */
/* This will currently stack to a maximum of 10 before resetting */
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-8) { left: calc(var(--header-width) * 0); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-7) { left: calc(var(--header-width) * 1); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-6) { left: calc(var(--header-width) * 2); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-5) { left: calc(var(--header-width) * 3); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-4) { left: calc(var(--header-width) * 4); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-3) { left: calc(var(--header-width) * 5); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-2) { left: calc(var(--header-width) * 6); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-1) { left: calc(var(--header-width) * 7); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+0) { left: calc(var(--header-width) * 8); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+1) { left: calc(var(--header-width) * 9); }

/* vertical titles */
.workspace-leaf-content {
  padding-left: var(--header-width);
  position: relative;
}

/* this is where the magic happens */
.view-header {
  writing-mode: vertical-lr;
  border-right: 1px solid var(--background-secondary-alt);
  border-left: 2px solid var(--background-secondary-alt);
  border-top: none;
  border-bottom: none;
  height: auto;
  width: var(--header-width);
  position: absolute;
  left:0;
  top:0;
  bottom:0;
}

/* active titles have different border colours */
.workspace-leaf.mod-active .view-header {
  border-right: 2px solid var(--interactive-accent);
  border-bottom: none;
}

/* unset the title container height and swap padding */
.view-header-title-container {
  height: unset;
  padding-left: 2px;
  padding-top: 5px;
}

/* fix the long-title-obscuring shadows */
.view-header-title-container:after {
  width: 100%;
  height: 30px;
  top:unset;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--background-secondary));
}
.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, var(--background-primary-alt));
}

/* swap the padding/margin around for the header and actions icons */
.view-header-icon, .view-actions {
  padding: 10px 5px;
}
.view-action {
  margin: 8px 0;
}

/* get rid of the gap left by the now-missing horizontal title */
.view-content {
  height: 100%;
}

/* make the fake drop target overlay have a background so you can see it. */
.workspace-fake-target-overlay {
  background-color: var(--background-primary);
}
